#html({"lang":"vi", "dir":"ltr", "secure":"$sub_admin", "inherit":"true"})
#keywords({"title" : 'iCloud Platform - $text.getText("Cấu hình giao diện")'})
#meta({"title":"iCloud Platform", "viewport": "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"})
#widget("/cmsadmin/widget/common/common")
#widget("/cmsadmin/widget/author/asset-video")
#widget("/cmsadmin/widget/author/asset-selector-wg")
#widget("/cmsadmin/widget/author/asset-quick-uploader-wg")

#widget("/cmsadmin/widget/layout/modal-category")
#widget("/cmsadmin/widget/layout/modal-menu")
#widget("/cmsadmin/widget/layout/list-area-wg")
#widget("/cmsadmin/widget/layout/list-plugin-wg")
#widget("/cmsadmin/widget/layout/content-plugin")
#widget("/cmsadmin/widget/layout/list-group-media")
#widget("/cmsadmin/widget/layout/image/image-content")

#widget("/cmsadmin/widget/admin/dynamic/list-plugin")

#script("/js/cmsadmin/inet/lib/admin/layout-main.min.js")
#end